body{
	padding:0;
	margin: 0;
	/*oculta todo lo que sobra de los margenes (truco)*/
	overflow-x: hidden;	
}
#navbar{
	background-color: pink;
}

.ul {
	flex-direction: row;
}

nav ul li a {
	color:white;
	text-decoration: none;
	cursor:pointer;

}

nav ul li{
	list-style: none;
}

